In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [21]:
#dataframe
df = pd.read_csv("constructor_standings2.csv")
X = df.drop(columns=['raceId', 'positionText', 'wins'])
X

      constructorStandingsId  constructorId  points  position
0                          1              1    14.0         1
1                          3              3     9.0         2
2                          6              6     1.0         6
3                          7              1    24.0         1
4                          9              3     9.0         4
...                      ...            ...     ...       ...
3713                   28262              9   396.0         1
3714                   28263              6   334.0         2
3715                   28264            131   304.0         3
3716                   28265            210    34.0         7
3717                   28266             51    51.0         6

[3718 rows x 4 columns]

In [22]:
y = df['wins']
y

0       1
1       0
2       0
3       1
4       0
       ..
3713    8
3714    4
3715    0
3716    0
3717    0
Name: wins, Length: 3718, dtype: int64

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
                 
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
std_score = cross_val_score(model, X_train, y_train, scoring="accuracy", cv = 5)
print(f"Acurracy of train: {np.mean(std_score) * 100:2f}%")

Acurracy of train: 76.019563%

C:\Users\aleol\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

In [32]:
predictions = model.predict (X_test)
predictions

array([10,  0,  0, ...,  2,  0,  0], dtype=int64)

In [33]:
score = accuracy_score(y_test, predictions)
print(f"Acurracy of test: {np.mean(score) * 100:2f}%")

Acurracy of test: 75.896057%